service: open-weather-service
frameworkVersion: '2'

plugins:
  - serverless-webpack

provider:
  name: aws
  runtime: nodejs12.x

functions:
  weather:
    handler: src/handler.getWeather
    events:
      - http:
          method: get
          path: weather