openapi: 3.0.0
info:
  title: AWS Shop
  description: API GATEWAY
  version: 1.0.0

servers:
  - url: https://jqnaa7z9ua.execute-api.eu-west-1.amazonaws.com/dev/

components:
  schemas:
    Product:
      type: object
      properties:
        id:
          type: string
        description:
          type: string
        title:
          type: string
        price:
          type: number
        picture:
          type: string
        count:
          type: number

paths:
  /product:
    get:
      tags:
        - getProductList
      summary: Get all products
      description: Returns array of all products
      responses:
        200:
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Product"

  /product:
    post:
      tags:
        - addProduct
      summary: Add product
      description: Create new product item
      responses:
        201:
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Product"
        400:
          description: Bad request


  /product/{productId}:
    parameters:
      - name: productId
        in: path
        required: true
        schema:
          type: string
    get:
      tags:
        - getProductByIdFromMock
      summary: Get product by ID
      description: Gets a product by ID
        e.g. “/product/123”
      responses:
        200:
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Product"
        404:
          description: User not found
