service:
  name: product-service
app: aws-fullstack-shop
frameworkVersion: '2'

plugins:
  - serverless-webpack
  - serverless-dotenv-plugin

provider:
  name: aws
  runtime: nodejs12.x
  stage: dev
  region: eu-west-1

  environment:
    PG_HOST: ${env:HOST}
    PG_PORT: ${env:PORT}
    PG_DATABASE: ${env:DB}
    PG_USERNAME: ${env:USERNAME}
    PG_PASSWORD: ${env:PASSWORD}

functions:
  getProductsListFromMock:
    handler: src/handler.getProductsListFromMock
    events:
      - http:
          path: product
          method: get
          cors: true
  getProductByIdFromMock:
    handler: src/handler.getProductByIdFromMock
    events:
      - http:
          path: product/{id}
          method: get
          cors: true
          request:
            parameters:
              paths:
                id: true
  invoke:
    handler: src/handler.invoke
